// TYPO
	$font-stack: 'OpenSans' , sans-serif;

	$normal: 300;
	$semibold: 600;
	$bold: 700;

	$regular-size: 1.2em;
	$small-size: .7em;

//COLORS
	$black: #000000;
	$white: #ffffff;
	$grey: #d6d2d2;
	$blue: #1d3374;
	$green: #2c4f12;
	$pink: #f9add6;
	$red: #e02424;

	$bg-color: $white;
	$primary-color: #000000;
	$separator-color: #c0c0c0;

// PADDINGS & MARGINS & BORDERS
	$padding-category: 1.2em;
	$padding-catalogue: .5em;
	$padding-page: 3.5em;
	$border-bottom: 1px;

	$color-radius: 1.4em;
	$color-border: 1px;
	$color-padding: .15em;

// SIZING
	$item-width: 30%;
